<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
  <div fxFlex="100%" fxFlex.xs="100%">
    <div class="login-container">
      <h2>Login</h2>
      <form [formGroup]="myLoginform" (ngSubmit)="onFormSubmit()">
        <div class="p-field">
          <label for="username">UserName</label>
          <input type="text" id="username" formControlName="username" />
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" />
        </div>
        <button
          type="submit"
          pButton
          class="p-button-raised"
          label="login"
        ></button>
      </form>
    </div>
  </div>
</div>
