.login-container-2 {
  background-image: url("../../assets/leftimg.png");
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.p-input-icon-right > .p-inputtext {
  padding-right: 1rem;
}

.p-error-container {
  height: 28px;
  overflow: hidden;
}

.p-error-message {
  padding-top: 5px;
}

.p-error-message p {
  margin: 0;
}

.p-error-message i {
  /* margin-right: 10px; */
}

/* Responsive styles */
@media (max-width: 968px) {
  .login-container {
    padding: 20px;
  }

  .p-inputtext-lg {
    width: 100%;
  }
}

.main-login-container {
  height: 100vh;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  background-color: black;
  border-color: black;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight .p-icon {
  color: white;
}
